* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.landing-page {
    height: 100vh;
}

nav {
    background-color: slategrey;
    height: 10vh;
    position: relative;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 60%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.landing-image {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-image img {
    height: 60%;
}





@media only screen and (max-width: 768px) {
    .line {
        height: 3px;
        width: 30px;
        margin: 5px;
        background-color: #fff;
        border-radius: 9px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        /* display: none; */
        background-color: slategrey;
        position: fixed;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        clip-path: circle(100px at 95% -20%);
        webkit-clip-path: circle(10px at 95% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1200px at 95% -20%);
        webkit-clip-path: circle(1200px at 95% -20%);
        pointer-events: all;
    }

    .nav-links li a {
        font-size: 25px;
    }
}